<html>
<head>
  <title>stop SOPA</title>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media=" screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
  <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
  <link rel="stylesheet" href="/stylesheets/meant_it.css" type="text/css">
  <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<%
  # Configurable variables
  message_type = "protest"
  pii_value = "sopa"
%>
  <script>
    var TIMEOUT = 50000;
    function getJson()
    {
      jQuery.ajax({
          type: "GET",
          url: "/piis/show_by_message_type_uniq_sender_count.json?message_type_input=<%= message_type %>&pii_value_input=<%= pii_value %>",
          async: true, /* If set to non-async, browser shows page as "Loading.."*/
          cache: false,
          timeout:TIMEOUT, /* Timeout in ms */

          success: function(data)
          {
//DEBUG              alert("data:"+data);
              jQuery.each(data, function(key, val)
                {
//DEBUG                  alert("key:"+key+", val:"+val);
//DEBUG                  alert("key:"+key+", val.pii.pii_value:"+val.pii.pii_value);
                  var mir_count = val.pii.mir_count;
                  var thumbnail_url_data = val.pii.thumbnail_url_data;
                  var short_desc_data = val.pii.short_desc_data;
                  var pii_value = val.pii.pii_value;
//DEBUG                  alert("mir_count:"+mir_count);
//DEBUG                  alert("thumbnail_url_data:"+thumbnail_url_data);
//DEBUG                  alert("short_desc_data:"+short_desc_data);
                  var group_size_span = jQuery('#group_size');
                  group_size_span.text(mir_count);
                }
              );
            },
          error: function(XMLHttpRequest, textStatus, errorThrown){
              alert("error", textStatus + " (" + errorThrown + ")");
              setTimeout(
                  'getJson()', /* Try again after.. */
                  POLL_INTERVAL*BACKOFF); /* milliseconds */
          },
      });
    };

    jQuery(document).ready(function(){
      getJson(); /* Start the inital request */
    });
  </script>
</head>
<body>
  <div class="container">
    <div class="span-18 superduperlarge">
      stop SOPA!
    </div>
    <div class="span-3 small">
      <a href='/policy.html'>Site Policy</a>
    </div>
    <div class="span-3 last small">
      <a href='http://getsatisfaction.com/meant_it'>Discuss/Help</a>
    </div>
    <div class="span-24 large">
      Don't let big corporations censor the internet.<br/>
      1. Unite in numbers -> 2. Show your strength -> 3. Co-ordinate.<br/>
    </div>
    <div class="span-24">
      <div class="large background-ddd">
      &nbsp; 1. Unite in numbers
      </div>
      <table class="no-zebra" border="0" cellspacing="0" cellpadding"0">
        <tbody class="medium">
          <tr>
            <td>
              <span style='color:red'><b>Privacy Alert:</b> Your email provider may provide your name<br/> to us and it will be shown.</span>
            </td>
          </tr>
          <tr>
            <td>
              Send email using QR code
            </td>
            <td>
              <img width='80' height='80' src='/images/<%= pii_value %>.png' />
            </td>
          </tr>
          <tr>
            <td style="text-align:center">
              <strong>-OR-</strong>
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              Send email to <strong><%= message_type %>@meant.it</strong> with subject<br/>
            </td>
            <td class="verbatim-font">
              <strong>:<%= pii_value %> ;</strong><em>your customized message</em><strong>;</strong> <em>zipcode</em> <em>state</em>
            </td>
          </tr>
          <tr>
            <td class="small">
              <strong>NOTE:</strong><br/>
              <strong>#1:</strong> <span class="verbatim-font">;<em>your customized message</em>; <em>zipcode</em> <em>state</em></span> tags are optional<br/>
              <strong>#2:</strong> Include the colon, semi-colons (if you provide customized a message)
            </td>
          </tr>
        </tbody>
      </table>
      <div class="large background-ddd">
      &nbsp; 2. Show your strength
      </div>
      <table class="no-zebra" border="0" cellspacing="0" cellpadding"0">
        <tbody class="medium">
          <tr>
            <td>
              Membership Size: <span class='superduperlarge' id="group_size"> 0 </span>.  (<a href='javascript:location.reload();'>Refresh</a>)
            </td>
          </tr>
<%
  pii = Pii.find_by_pii_value(pii_value)
  endPoints = pii.endPoints
  ep_ids = endPoints.collect { |ep_elem| ep_elem.id }
  meantItRels_arr = MeantItRel.where("message_type = '#{message_type}' and dst_endpoint_id in (#{ep_ids.join(',')})").order("created_at desc")
  # Limit the display
#  meantItRels_limit_arr = meantItRels_arr.limit(Constants::WEB_MAIN_MAX_MEANTIT)
  test_num = Constants::WEB_MAIN_MAX_MEANTIT
  meantItRels_limit_arr = meantItRels_arr.limit(test_num)
%>
          <tr>
            <td>
              Latest <%= test_num %> crews:
                <ul><li>
                <%= render :partial => "shared/meant_it_rel", :spacer_template => "shared/li_ruler", :collection => meantItRels_limit_arr %>
<%
#  if meantItRels_arr.size > Constants::WEB_MAIN_MAX_MEANTIT
  if meantItRels_arr.size > test_num
%>
<!----                </li>
                <li>
                  <a href='/campaigns/general/paginate_list?<%= Constants::PII_VALUE_INPUT %>=<%= pii_value %>&<%= Constants::MESSAGE_TYPE_INPUT %>=<%= message_type %>'>More...</a>
                </li>
              </ul> ---->
<%
  else
%>
                </li></ul>
<%
  end # end if meantItRels_arr.size > Constants::WEB_MAIN_MAX_MEANTIT
%>
                </li></ul>
            </td>
          <tr>
        </tbody>
      </table>
      <div class="large background-ddd">
      &nbsp; 3. Co-ordinate
      </div>
      <span class="medium">
      Contact <img src='/images/nethseven_meant_it.png' /> to email everybody with a co-ordinated action.
      </span>
      <br/>
      <br/>
    </div>
  </div>
</body>
</html>
