<% require 'constants' %>
<script>
  function warn(event)
  {
    // Check if ready_date is available
    var ready_date_elem = jQuery("#ready_date");
    var ready_date_str = ready_date_elem.text();
    var confirm_rval = true;
    var percent;
    var percentFloat;
    // If it's a percentage then obviously, it's not ready
    var percent_target_arr = ready_date_str.match(/([0-9.]+)%/)
    if (percent_target_arr != null)
    {
      // Get the percent without % sign
      percent = percent_target_arr[1];
      percentFloat = parseFloat(percent);
      if (percentFloat > 100.0)
      {
        confirm_rval = ("<%= Constants::CONFIRM_PREMATURE_CONTACT_EXCEED %>");
      } // end if (percentFloat > 100.0)
      else
      {
        confirm_rval = confirm("<%= Constants::CONFIRM_PREMATURE_CONTACT %>");
      } // end else if (percentFloat > 100.0)
      if (confirm_rval == true)
      {
      } // end if (confirm_rval == true)
      else
      {
         event.preventDefault();
      } // end else if (confirm_rval == true)
    } // end if ready_date_elem 
    else
    {
      // If it is not a percentage then target has been reached
      // billing has been done so no problem.
    } // end else if ready_data_elem
    return confirm_rval;
  } // end function warn
</script>
<div class='container'>
  <%= render :partial => "shared/top_menu" %>
  <div class='span-24'>
    <h3>Email Bill Management</h3>
    <%
      pii_value = params[Constants::PII_VALUE_INPUT]
      pii = Pii.find_by_pii_value(pii_value)
      pps = pii.pii_property_set
      email_bill_entries = pps.email_bill_entries
    %>
    <span class="large"><b>Email Bill(s)</b></span>
      <table summary="Email Bill(s)"  border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class='span-2'>Bill No</th>
            <th class='span-2'>Email Registered</th>
            <th class='span-2'>Email Sent</th>
            <th class='span-2'>Email Ratio</th>
            <th class='span-2'>Cost</th>
            <th class='span-2'>Conversion Ratio</th>
            <th class='span-3'>Ready</th>
            <th class='span-3'>Billed</th>
            <th class='span-4'>Actions</th>
          </tr>
        </thead>
        <tbody>
<% if !email_bill_entries.nil? and !email_bill_entries.empty? %>
  <% email_bill_entries.each do |email_bill_entry| %>
    <% email_registered = email_bill_entry.meant_it_rels.size %>
    <% # CODE/NOTE: This should be obtained from email sent/failed stats %>
    <% if email_bill_entry.billed_date.nil? %>
      <% email_sent = 'NA' %>
      <% email_cost = email_registered * Constants::EMAIL_COST %>
    <% else %>
      <% email_sent = email_bill_entry.meant_it_rels.size %>
      <% email_cost = email_sent * Constants::EMAIL_COST %>
    <% end %>
    <% if email_registered == 0 or email_sent == 'NA' %>
      <% email_ratio = 0 %>
    <% else %>
      <% email_ratio = email_sent/email_registered %>
    <% end %>
          <tr>
            <td>
              <%= email_bill_entry.id %>
            </td>
            <td>
              <%= email_registered %>
            </td>
            <td>
              <%= email_sent %>
            </td>
            <td>
              <%= 100*email_ratio %>%
            </td>
            <td>
              $<%= email_cost %>
            </td>
            <td>
              Soon!
            </td>
            <td id="ready_date">
              <% if email_bill_entry.ready_date.nil? %>
               <%= email_bill_entry.qty.to_f*100.0/email_bill_entry.pii_property_set.threshold.to_f %>%
              <% else %>
                <%= email_bill_entry.ready_date %>
              <% end # end if email_bill_entry.ready_date.nil? %>
            </td>
            <td>
              <%= email_bill_entry.billed_date %>
            </td>
            <td>
              <% if email_bill_entry.billed_date.nil? %>
                <%= link_to "Contact", "/send_liker_emails?#{Constants::BILL_ENTRY_ID_VALUE_INPUT}=#{email_bill_entry.id}", :onclick => 'warn(event)' %>
              <% else %>
                Billed
              <% end # end if email_bill_entry.billed_date.nil? %>
            </td>
          </tr>
  <% end %>
<% end %>
        </tbody>
      </table>
  </div>
</div>
