<html>
<head>
  <title>View All</title>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media=" screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
  <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
  <link rel="stylesheet" href="/stylesheets/meant_it.css" type="text/css">
<!---  <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script> --->
  <script src="/javascripts/jquery-1.4.2.min.js"></script>
  <script src="/javascripts/meant_it_client_0.1.js"></script> 
<%
  # This needs to be provided by server when this page is accessed
  # or just provide them as javascript variables (see below)
  message_type = params[Constants::MESSAGE_TYPE_INPUT]
  pii_value = params[Constants::PII_VALUE_INPUT]
  pg_size = params[Constants::MEANT_IT_REL_PAGE_SIZE]
  pg_size ||= Constants::WEB_PAGE_RESULT_SIZE
%>
  <script>
    // Configurable variables
    var PII_VALUE = "<%= params[Constants::PII_VALUE_INPUT] %>";
    var MESSAGE_TYPE = "<%= params[Constants::MESSAGE_TYPE_INPUT] %>";
    var PAGE_SIZE = "<%= params[Constants::MEANT_IT_REL_PAGE_SIZE] %>";
    var LAST_ID = "<%= params[Constants::MEANT_IT_REL_LAST_ID] %>";
    var START_ID = "<%= params[Constants::MEANT_IT_REL_START_ID] %>";
    var THIS_PAGE_URL = "/campaigns/general/paginate_list?<%= Constants::MESSAGE_TYPE_INPUT %>="+MESSAGE_TYPE+"&<%= Constants::PII_VALUE_INPUT %>="+PII_VALUE;
    var LIST_ID = "memberlist";
    var UP_ARROW_ID = "up_arrow";
    var DOWN_ARROW_ID = "down_arrow";
    var TIMEOUT = 50000;
    var POLL_INTERVAL = 10000;
    var BACKOFF = 3;

    jQuery(document).ready(function(){
      // Hide up/down arrows
      setVisibility(UP_ARROW_ID, "hidden");
      setVisibility(DOWN_ARROW_ID, "hidden");
      // Command pattern
      var func1 = function(data) {
                    showMirs(data, LIST_ID, UP_ARROW_ID, DOWN_ARROW_ID);
                    // All of them have the same up_url_parms and down_url_parms;
                    elem = data[0];
                    up_url_parms = elem.meant_it_rel.up_url_parms;
                    down_url_parms = elem.meant_it_rel.down_url_parms;
                    addPagination(THIS_PAGE_URL, UP_ARROW_ID, DOWN_ARROW_ID, up_url_parms, down_url_parms);
                  };
      arr = getJsonForMirs(func1, PII_VALUE, MESSAGE_TYPE, PAGE_SIZE, START_ID, LAST_ID, TIMEOUT, POLL_INTERVAL, BACKOFF); /* Start the inital request */
    });
  </script>
</head>
<body>
  <div class="container">
    <div class="span-18 superduperlarge">
      stop SOPA!
    </div>
    <div class="span-3 small">
      <a href='/policy.html'>Site Policy</a>
    </div>
    <div class="span-3 last small">
      <a href='http://getsatisfaction.com/meant_it'>Discuss/Help</a>
    </div>
    <div class="span-24 large">
      Activist List:
    </div>
    <div class="span-24">
      <ul id="memberlist" >
      </ul>
      <span id="down_arrow" >&lt;-</span> <span id="up_arrow" >-&gt;</span>
    </div>
  </div>
</body>
</html>
