<%= form_for(@obj_rel) do |f| %>
  <% if @obj_rel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@obj_rel.errors.count, "error") %> prohibited this obj_rel from being saved:</h2>

      <ul>
      <% @obj_rel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :srcobj_id %><br />
    <%= f.text_field :srcobj_id %>
  </div>
  <div class="field">
    <%= f.label :dstobj_id %><br />
    <%= f.text_field :dstobj_id %>
  </div>
  <div class="field">
    <%= f.label :rel_type %><br />
    <%= f.text_field :rel_type %>
  </div>
  <div class="field">
    <%= f.label :rel_obj_type %><br />
    <%= f.text_field :rel_obj_type %>
  </div>
  <div class="field">
    <%= f.label :rel_desc %><br />
    <%= f.text_field :rel_desc %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
