<h1>Listing obj_rels</h1>

<table>
  <tr>
    <th>Srcobj</th>
    <th>Dstobj</th>
    <th>Reltype</th>
    <th>Relobjtype</th>
    <th>Reldesc</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @obj_rels.each do |obj_rel| %>
  <tr>
    <td><%= obj_rel.srcobj_id %></td>
    <td><%= obj_rel.dstobj_id %></td>
    <td><%= obj_rel.rel_type %></td>
    <td><%= obj_rel.rel_obj_type %></td>
    <td><%= obj_rel.rel_desc %></td>
    <td><%= obj_rel.status %></td>
    <td><%= link_to 'Show', obj_rel %></td>
    <td><%= link_to 'Edit', edit_obj_rel_path(obj_rel) %></td>
    <td><%= link_to 'Destroy', obj_rel, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Obj rel', new_obj_rel_path %>
