<p id="notice"><%= notice %></p>

<p>
  <b>Srcobj:</b>
  <%= @obj_rel.srcobj_id %>
</p>

<p>
  <b>Dstobj:</b>
  <%= @obj_rel.dstobj_id %>
</p>

<p>
  <b>Reltype:</b>
  <%= @obj_rel.rel_type %>
</p>

<p>
  <b>Relobjtype:</b>
  <%= @obj_rel.rel_obj_type %>
</p>

<p>
  <b>Reldesc:</b>
  <%= @obj_rel.rel_desc %>
</p>

<p>
  <b>Status:</b>
  <%= @obj_rel.status %>
</p>


<%= link_to 'Edit', edit_obj_rel_path(@obj_rel) %> |
<%= link_to 'Back', obj_rels_path %>
