<p id="notice"><%= notice %></p>
<div class='container'>
  <div class='span-24'>

<p>
<strong>Nick:</strong> <%= @endPoint_arr[0].nick %><br/>
<strong>Message Type:</strong> <%= message_type %>
</p>

<table summary="Meant.It Received Table"  border="0" cellspacing="0" cellpadding="0">
  <caption><em>Meant.It Received</em></caption>
  <thead>
    <tr>
      <th class='span-12'>Nick</th>
      <th class='span-4'>Sender Nicks</th>
      <th class='span-4'>Unique Sender Nicks</th>
      <th class='span-4'>Value</th>
    </tr>
  </thead>
  <tbody>
<% 
  exist = nil
  @endPoint_arr.each { |endpoint|
    dstMeantItRels_arr = endpoint.dstMeantItRels
    meantIt_in_message_type_arr = ControllerHelper.mir_from_mir_messageType(dstMeantItRels_arr, message_type)
    dstMeantItRelSrcUniqs = ControllerHelper.ep_from_mir_uniqSrcEndPoints(meantIt_in_message_type_arr)
    if !dstMeantItRelSrcUniqs.empty?
      exist ||= true
%>
    <tr>
      <td>
        <%= render :partial => "shared/end_point_nick_col", :collection => [endpoint] %>
      </td>
      <td>
        <%= meantIt_in_message_type_arr.size %>
      </td>
      <td>
        <% 
          query_str = "ids%5b%5d="
          src_endpoint_arr = dstMeantItRelSrcUniqs.collect{ |mi_elem_elem| mi_elem_elem.id }
          query_str += src_endpoint_arr.join("&ids%5b%5d=")
          title_str = CGI.escape("Unique Senders to <b>nick:</b>#{@endPoint_arr[0].nick} and <b>Message Type</b>:#{message_type}")
        %>
        <%= link_to "#{dstMeantItRelSrcUniqs.size}", url_for("/end_points/show_by_ids?#{query_str}&#{Constants::TITLE_STR}=#{title_str}") %>
      </td>
      <td>
        Coming..
      </td>
    </tr>
<% 
    end
  } 
%>
  </tbody>
</table>
<% if exist.nil? %>
<p>
Nothing yet... <b>Don't be disheartened.  They'll come!</b>
</p>
<% else %>
<p>
  <%= render :partial => "shared/limit_meant_it_rels_with_more", :locals => { :dst_endpoint_id => @endPoint_arr, :sender_nick => @endPoint_arr[0].nick, :message_type => message_type } %>
</p>
<% end %>

<table summary="Meant.It Sent Table"  border="0" cellspacing="0" cellpadding="0">
  <caption><em>Meant.It Sent</em></caption>
  <thead>
    <tr>
      <th class='span-12'>Nicks</th>
      <th class='span-4'>Receiver Nicks</th>
      <th class='span-4'>Unique Receiver Nicks</th>
      <th class='span-4'>Value</th>
    </tr>
  </thead>
  <tbody>
<% 
  exist = nil
  @endPoint_arr.each { |endpoint|
    srcMeantItRels_arr = endpoint.srcMeantItRels
    meantIt_out_message_type_arr = ControllerHelper.mir_from_mir_messageType(srcMeantItRels_arr, message_type)
    srcMeantItRelDstUniqs = ControllerHelper.ep_from_mir_uniqDstEndPoints(meantIt_out_message_type_arr)
    if !srcMeantItRelDstUniqs.empty?
      exist ||= true
%>
    <tr>
      <td>
        <%= render :partial => "shared/end_point_nick_col", :collection => [endpoint] %>
      </td>
      <td>
        <%= meantIt_out_message_type_arr.size %>
      </td>
      <td>
        <% 
          query_str = "ids%5b%5d="
          dst_endpoint_arr = srcMeantItRelDstUniqs.collect{ |mi_elem_elem| mi_elem_elem.id }
          query_str += dst_endpoint_arr.join("&ids%5b%5d=")
          title_str = CGI.escape("Unique Receivers of <b>nick:</b>#{@endPoint_arr[0].nick} and <b>message type</b>:#{message_type}")
        %>
        <%= link_to "#{srcMeantItRelDstUniqs.size}", url_for("/end_points/show_by_ids?#{query_str}&#{Constants::TITLE_STR}=#{title_str}") %>
      </td>
      <td>
        Coming..
      </td>
    </tr>
<%
    end
  }
%>
  </tbody>
</table>
<% if exist.nil? %>
<p>
Nothing yet... <b>Don't be disheartened.  They'll come!</b>
</p>
<% else %>
<p>
  <%= render :partial => "shared/limit_meant_it_rels_with_more", :locals => { :src_endpoint_id => @endPoint_arr, :sender_nick => @endPoint_arr[0].nick, :message_type => message_type } %>
</p>
<% end %>

  </div>
</div>
