<% require 'validators' %>
<div class="container">
  <div class="span-24">
  <%= link_to "Home", url_for("/") %>
  <p>
    <h3>Send Meant.It</h3>
  </p>
    You can send Meant.It from <%= link_to "http://meant.it/", url_for("/") %> or from email.  The only differences are:
    <ul>
     <li>Meant.It sent from the webpage has 'anonymous' as sender</li>
     <li>To email Meant.It, just send to thank@meant.it, sorry@meant.it, <%= link_to "etc.", url_for("message_types") %>
    </ul>
    Send to <b>thank@meant.it</b>:<br/>
    <ul>
      <li><i>hello_kitty@sanrio.com</i>
        <ul>
          <li>Sends a 'thank' Meant.It to end point associated with <i>hello_kitty@sanrio.com</i></li>
        </ul>
      </li>
      <li><i>:hello_kitty</i>
        <ul>
          <li>Sends a 'thank' Meant.It to end point associated with globally known name <i>hello kitty</i></li>
        </ul>
      </li>
      <li><i>my_kitty</i>
        <ul>
          <li>Sends a 'thank' Meant.It to end point associated a nickname specific to you, <i>my_kitty</i></li>
        </ul>
      </li>
   </ul>

    <h4>Details</h4>
    The following characters have special meaning that you can use to convey to Meant.It.
    <ul>
      <li>: exiplicitly indicates a <i>Personally Identifiable Information</i> (pii) (required if no nickname)
        <ul>
          <li>:hello kitty:</li>
          <li>:hello_kitty</li>
          <li>hello_kitty@sanrio.com</li>
        </ul>
      </li>
      <li>; encloses a <i>Long Message</i> (optional)
        <ul>
          <li>;hello world;</li>
        </ul>
      </li>
      <li><i>Tags</i> (optional) are used to describe the receiver
        <ul>
          <li>cat</li>
          <li>white</li>
        </ul>
      </li>
      <li>' or " encloses <i>tags</i> with spaces
        <ul>
          <li>'red ribbon'</li>
          <li>"no mouth"</li>
        </ul>
      </li>
      <li><i>Message Type</i> is derived from the first tag that matches a Meant.It <%= link_to "message type", url_for("message_types") %>.</li>
      <li><i>Nickname</i> (required if no pii), the first tag not enclosed by " or ' and is not a <i>message type</i> is used as nickname
      <ul>
        <li>my_kitty</li>
      </ul>
      </li>
    </ul>
    Thus, any of the following sends a 'thank' message (if you select thank@meant.it)
    <ul>
      <li>:hello_kitty ;hello hello kitty; cat white 'red ribbon'</li>
      <li>:hello kitty: ;hello hello kitty; white "red ribbon" cat</li>
      <li>hello_kitty@sanrio.com ;hello hello kitty; "red ribbon" white cat</li>
      <li>;hello hello kitty; "red ribbon" my_kitty white cat</li>
    </ul>
  <%= link_to "Home", url_for("/") %>
</div>
