<% require 'constants' %>
    <h3>Pii Properties: <%= params[Constants::PII_VALUE_INPUT] %></h3>
    <%= form_for(@pii_property_set, :html => { :multipart => true }) do |f| %>
      <% if @pii_property_set.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pii_property_set.errors.count, "error") %> prohibited this pii from being saved:</h2>

          <ul>
          <% @pii_property_set.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label "Short description:" %><br />
        <%= f.text_field :short_desc%>
      </div>

      <div class="field">
        <%= f.label "Long description:" %><br />
        <%= f.text_field :long_desc%>
      </div>

      <div class="field">
        <%= f.label "Notify type:" %><br />
        <%= f.text_field :notify %>
      </div>

      <div class="field">
        <%= f.label "Notify threshold:" %><br />
        <%= f.text_field :threshold %>
      </div>

      <div class="field">
        <%= f.label "Formula:" %><br />
        <%= f.text_field :formula %>
      </div>
 
      <div>
        <%= f.label "Status:" %>
        <%= select("pii_property_set", "status", LikerStatusTypeValidator::LIKER_STATUS_ENUM) %>
      </div>

      <div class="field">
        <%= hidden_field_tag(Constants::PII_VALUE_INPUT, params[Constants::PII_VALUE_INPUT]) %>
      </div>

      <div class="field">
        <%= f.label "Image:" %><br />
        <%= f.file_field :avatar %>
      </div>
      <% if !@pii_property_set.nil? and !@pii_property_set.avatar_file_name.nil? %>
      <div class="field">
        <%= image_tag @pii_property_set.avatar.url(:thumb) %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Save" %>
      </div>
    <% end %>
