<%= form_for(@end_point) do |f| %>
  <% if @end_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@end_point.errors.count, "error") %> prohibited this end_point from being saved:</h2>

      <ul>
      <% @end_point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creator_endpoint_id %><br />
    <%= f.text_field :creator_endpoint_id %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :nick %><br />
    <%= f.text_field :nick %>
  </div>
  <div class="field">
    <%= f.label :pii_id %><br />
    <%= f.text_field :pii_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
