<p id="notice"><%= notice %></p>

<p>
  <b>Creatorendpoint:</b>
  <%= @end_point.creator_endpoint_id %>
</p>

<p>
  <b>Starttime:</b>
  <%= @end_point.start_time %>
</p>

<p>
  <b>Endtime:</b>
  <%= @end_point.end_time %>
</p>

<p>
  <b>Nick:</b>
  <%= @end_point.nick %>
</p>

<p>
  <b>Pii Id:</b>
  <%= @end_point.pii_id %>
</p>

<p>
  <b>Status:</b>
  <%= @end_point.status %>
</p>


<%= link_to 'Edit', edit_end_point_path(@end_point) %> |
<%= link_to 'Back', end_points_path %>
