<div class="container">
  <div class="span-24 medium">

    <p class="large"><b>Invoice No.:</b> <%= invoice_no %></p>
    <p>
    <b>Name:</b> <%= item_name %><br/>
    <b>Item No.:</b> <%= item_no %><br/>
    <b>Qty:</b> <%= quantity %><br/>
    <b>Amount:</b> <%= amount %><br/>
<% payment_date_str = payment_date.nil? ? "Unpaid" : payment_date %>
    <b>Payment Date:</b> <%= payment_date_str %><br/>
    </p>

    <form action="<%= @action_url %>" method="post">
      <input type="hidden" name="cmd" value="_s-xclick" /><br/>
      <input type="hidden" name="encrypted" value="<%= @encrypted_basic %>" /><br/>
<% if error_msg.nil? and payment_date.nil? %>
      <input id="buynow_btn" type="image" src="/images/x-click-but23.gif" name="submit" alt=""><br/>
<% else %>
      <input id="buynow_btn" class="opaque40" type="image" disabled="true" src="/images/x-click-but23.gif" name="submit" alt=""><br/>
<% end # end if error_msg.nil? %>
    </form>

  </div>
</div>
