<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @entity_datum.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @entity_datum.last_name %>
</p>

<p>
  <b>Nick:</b>
  <%= @entity_datum.nick %>
</p>

<p>
  <b>Dob yy:</b>
  <%= @entity_datum.dob_yyyy %>
</p>

<p>
  <b>Dob mm:</b>
  <%= @entity_datum.dob_mm %>
</p>

<p>
  <b>Dob day:</b>
  <%= @entity_datum.dob_dd %>
</p>

<p>
  <b>Address 1:</b>
  <%= @entity_datum.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @entity_datum.address_2 %>
</p>

<p>
  <b>Address 3:</b>
  <%= @entity_datum.address_3 %>
</p>

<p>
  <b>City:</b>
  <%= @entity_datum.city %>
</p>

<p>
  <b>State:</b>
  <%= @entity_datum.state %>
</p>

<p>
  <b>Country:</b>
  <%= @entity_datum.country %>
</p>

<p>
  <b>Credit card no 1:</b>
  <%= @entity_datum.credit_card_no_1 %>
</p>

<p>
  <b>Credit card no 2:</b>
  <%= @entity_datum.credit_card_no_2 %>
</p>

<p>
  <b>Credit card no 3:</b>
  <%= @entity_datum.credit_card_no_3 %>
</p>

<p>
  <b>Credit card no 4:</b>
  <%= @entity_datum.credit_card_no_4 %>
</p>

<p>
  <b>Credit card exp yyyy:</b>
  <%= @entity_datum.credit_card_exp_yyyy %>
</p>

<p>
  <b>Credit card exp mm:</b>
  <%= @entity_datum.credit_card_exp_mm %>
</p>

<p>
  <b>Credit card ccv:</b>
  <%= @entity_datum.credit_card_ccv %>
</p>


<%= link_to 'Edit', edit_entity_datum_path(@entity_datum) %> |
<%= link_to 'Back', entity_data_path %>
