<html>
<head>
  <title>Gaia Messenger</title>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media=" screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
  <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
  <link rel="stylesheet" href="/stylesheets/meant_it.css" type="text/css">
<!----  <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script> ---->
  <script src="/javascripts/jquery-1.4.2.min.js"></script>
  <script src="/javascripts/meant_it_client_0.1.js"></script>
<%
  # Configurable variables
  message_type = "cheer"
  pii_value = "gaiamsg"
  if request.port != 80
    meant_it_hostname = "#{request.domain}:#{request.port}"
  else
    meant_it_hostname = request.domain
  end # else if request.port == 80
%>
  <script>
    // Create a hidden input type to:
    // - Store the value of 'subject' which is the message
    // - Set the action url of the form
    // Params:
    // - form_id: The id of the form to setup
    // - opt_message_id: The id of the input that holds the user message
    // - pii_value: The pii_value which the message is directed to
    // - action_url: The action url of the form
    function setUpForm(form_id, opt_message_id, pii_value, action_url)
    {
      var composed_str;
      var opt_message_obj = jQuery("#"+opt_message_id);
      var text_msg = opt_message_obj.val();
      if (text_msg != null && text_msg != '')
      {
        composed_str = ":"+pii_value+" ;"+opt_message_obj.val()+";";
      }
      else
      {
        composed_str = ":"+pii_value;
      } // end if (text_msg != null)
//DEBUG alert("composed_str:"+composed_str);
      var form_obj = jQuery("#"+form_id);
      // Add the subject
      var subject_obj_str = "<input id='subject' name='subject' type='hidden' value='"+composed_str+"' />";
      form_obj.prepend(subject_obj_str);
      // Change the action url to include return_url
      form_obj.attr('action', action_url);
    } // end function setUpForm


    // Configurable variables
    // The host where you store this page
    var YOUR_HOSTNAME = "<%= meant_it_hostname %>";
    // The url to return to after message submission
    var YOUR_RETURN_URL = "http://"+YOUR_HOSTNAME+"/campaigns/gaiamsg";
    // The server you submit the message to
    var MEANT_IT_HOSTNAME = "<%= meant_it_hostname %>"
    var PAGE_SIZE = <%= Constants::WEB_MAIN_MAX_MEANTIT %>;
    // START_ID and LAST_ID is null since we just want the latest entries
    var START_ID = null;
    var LAST_ID = null;
    // The id that identifies you to the world
    var PII_VALUE = '<%= pii_value %>';
    // What type of message you are submitting
    var MESSAGE_TYPE = '<%= message_type %>';
    // The html element it where latest messages will be displayed
    var LIST_ID = "memberlist";
    // The html element it users click to see more messages
    var MORE_ID = "more";
    var TIMEOUT = 50000;
    var POLL_INTERVAL = 10000;
    var BACKOFF = 3;
    // Don't configure these
    var action_url = "http://"+MEANT_IT_HOSTNAME+"/send_inbound_emails?<%= Constants::RETURN_URL_INPUT %>="+escape(YOUR_RETURN_URL);
//DEBUG alert("action_url:"+action_url);

    jQuery(document).ready(function(){
      setVisibility(MORE_ID, 'hidden');
      var func0 = function(data) {
                    jQuery.each(data, function(key, val)
                    {
//DEBUG                  alert("key:"+key+", val:"+val);
                         var mir_count = val;
                         var group_size_span = jQuery('#group_size');
                         group_size_span.text(mir_count);
                       } // end jQuery.each ...
                    );
                  };
      getJsonForCounts(func0, PII_VALUE, MESSAGE_TYPE, TIMEOUT, POLL_INTERVAL, BACKOFF); /* Request for uniq counts */
      // Command pattern
      var func1 = function(data) {
                    showMirs(data, LIST_ID, null, null);
                    elem = data[0];
                    down_url_parms = elem.meant_it_rel.down_url_parms;
                    if (down_url_parms != null)
                    {
                      var more_obj = jQuery('#'+MORE_ID);
                      setVisibility(MORE_ID, 'visible');
                    } // end if (down_url_parms != null)
                  };
      arr = getJsonForMirs(func1, PII_VALUE, MESSAGE_TYPE, PAGE_SIZE, START_ID, LAST_ID, TIMEOUT, POLL_INTERVAL, BACKOFF); /* Start the inital request */
    });
  </script>
</head>
<body>
  <div class="container">
    <div class="span-18 superlarge">
      Gaia Messenger: Cheer the Earth!
    </div>
    <div class="span-3 small">
      <a href='/policy.html'>Site Policy</a>
    </div>
    <div class="span-3 last small">
      <a href='http://getsatisfaction.com/meant_it'>Discuss/Help</a>
    </div>
    <div class="span-24 large">
      Focusing on needs of humanity<br/>
      1. Voice your support -> 2. Show your strength
    </div>
    <div class="span-24">
      <div class="large background-ddd">
      &nbsp; 1. Voice your support
      </div>
      <table class="no-zebra" border="0" cellspacing="0" cellpadding"0">
        <tbody class="medium">
          <tr>
            <td>
              <span style='color:red'><b>Privacy Alert:</b> Your email provider may provide your name<br/> to us and it will be shown. Log-in required to change.</span>
            </td>
          </tr>
          <tr>
            <td>
              Send email using QR code
            </td>
            <td>
              <img width='80' height='80' src='/images/<%= pii_value %>_qr.png' />
            </td>
          </tr>
          <tr>
            <td style="text-align:center">
              <strong>-OR-</strong>
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              Send email to <strong><%= message_type %>@meant.it</strong> with subject<br/>
            </td>
            <td class="verbatim-font">
              <strong>:<%= pii_value %> ;</strong><em>optional message</em><strong>;</strong>
            </td>
          </tr>
          <tr>
            <td style="text-align:center">
              <strong>-OR-</strong>
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              Fill in optional message and click here!
            </td>
            <td>
              <form id="gaiaclick_form" onsubmit="setUpForm('gaiaclick_form', 'opt_message', PII_VALUE, action_url)" method="post" action="" >
                Message (<i>optional</i>) : <input type="text" name="opt_message" id="opt_message" value="" />
                <input type='submit' value='Cheer!'/>
                <input type="hidden" name="from" id="from" value="anonymous@pii.meant.it"/>
                <input type="hidden" name="to" id="to" value="cheer@meant.it"/>
                <input type="hidden" name="envelope" id="envelope" value="meant_it_index"/>
                <input type="hidden" name="headers" id="envelope" value="meant_it_index"/>
                <input type="hidden" name="attachment_count" id="attachment_count" value="0"/>
              </form>
            </td>
          </tr>
          <tr>
            <td class="small">
              <strong>NOTE:</strong><br/>
              <strong>#1:</strong> Include the colon, semi-colons (if you provide optional message)
            </td>
          </tr>
        </tbody>
      </table>
      <div class="large background-ddd">
      &nbsp; 2. Show your strength
      </div>
      <table class="no-zebra" border="0" cellspacing="0" cellpadding"0">
        <tbody class="medium">
          <tr>
            <td>
              Membership Size: <span class='superduperlarge' id="group_size"> 0 </span>.  (<a href='javascript:location.reload();'>Refresh</a>)
            </td>
          </tr>
<%
  pii = Pii.find_by_pii_value(pii_value)
  endPoints = pii.endPoints
  ep_ids = endPoints.collect { |ep_elem| ep_elem.id }
  meantItRels_arr = MeantItRel.where("message_type = '#{message_type}' and dst_endpoint_id in (#{ep_ids.join(',')})").order("created_at desc")
  # Limit the display
#  meantItRels_limit_arr = meantItRels_arr.limit(Constants::WEB_MAIN_MAX_MEANTIT)
  test_num = Constants::WEB_MAIN_MAX_MEANTIT
#DEBUG  test_num = 1
  meantItRels_limit_arr = meantItRels_arr.limit(test_num)
%>
          <tr>
            <td>
              Latest <%= test_num %> messages:
              <ul id="memberlist">
              </ul>
              <span id='more'><a href='http://<%= meant_it_hostname %>/campaigns/general/paginate_list?<%= Constants::PII_VALUE_INPUT %>=<%= pii_value %>&<%= Constants::MESSAGE_TYPE_INPUT %>=<%= message_type %>&<%= Constants::TITLE_STR %>=Gaia%20Messager'>More...</a></span>
            </td>
          <tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
