<%= form_for(@entity_end_point_rel) do |f| %>
  <% if @entity_end_point_rel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity_end_point_rel.errors.count, "error") %> prohibited this entity_end_point_rel from being saved:</h2>

      <ul>
      <% @entity_end_point_rel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entity_id %><br />
    <%= f.text_field :entity_id %>
  </div>
  <div class="field">
    <%= f.label :endPoint_id %><br />
    <%= f.text_field :endPoint_id %>
  </div>
  <div class="field">
    <%= f.label :verificationType %><br />
    <%= f.text_field :verificationType %>
  </div>
  <div class="field">
    <%= f.label :verificationDesc %><br />
    <%= f.text_area :verificationDesc %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
