<% require 'constants' %>
<% 
#  req_url = URI::parse(request.url)
#  req_url_query_hash = CGI::parse(req_url.query) if !req_url.query.nil?
#  find_any_input = req_url_query_hash.values.join("\n") if !req_url_query_hash.nil?
find_any_input ||= nil
%>

<!DOCTYPE html>
<html>
<head>
  <title>Meant.It</title>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media=" screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
  <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
  <link rel="stylesheet" href="/stylesheets/meant_it.css" type="text/css">
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div class="container">
      <div class="span-20">
<% 
  error_msg ||= nil
  if error_msg
%>
  <p id="error" class="large"><b>Error:</b> <%= error_msg  %></p>
<% else %>
  <p class="large"> &nbsp; </p>
<% end %>
        <p>
          <% why_elem = Constants.random_why %>
          <span class="large">
            <b>Why Meant.It?</b> <%= why_elem[0] %> - <i><%= why_elem[1] %></i> (<%= link_to "More", url_for("why") %>)
          </span>
        </p>
      </div>
      <div class="span-4 last">
        <img src='/images/nethseven_meant_it.png' />
      </div>
      <div class="span-24 lightbg1" id="find_meant_it_div">
        <form id="find_meant_it_form" action="/find_any" method="get">

          <fieldset>
            <legend>Find Meant.It</legend>
            <p>
              <input type="text" class="span-12 title rounded" name="<%= Constants::FIND_ANY_INPUT %>" id="<%= Constants::FIND_ANY_INPUT %>" size="500" value="<%= find_any_input %>" />
               &nbsp;
              <input class="superlarge rounded" type="submit" value="find" />
            </p>
            Try entering <i>meant.it</i> (<%= link_to "Learn more", url_for("learn_find") %>)
          </fieldset>
        </form>
      </div>
      <div class="span-24 lightbg2" id="send_meant_it_div">
        <form id="send_meant_it_form" action="/send_inbound_emails" method="post">

          <fieldset>
            <legend >Send Meant.It</legend>
            <p>
              <input type="hidden" name="from" id="from" value="whatever@pii.meant.it"/>
              <input type="hidden" name="envelope" id="envelope" value="meant_it_index"/>
              <input type="hidden" name="headers" id="envelope" value="meant_it_index"/>
              <input type="hidden" name="attachment_count" id="attachment_count" value="0"/>
              <input type="text" class="span-12 title rounded" name="subject" id="subject" value=""/>
              &nbsp;
              <input class="superlarge rounded" type="submit" value="send" />
              &nbsp;
              <select id="to" name="to">
                <% MeantItMessageTypeValidator::MEANT_IT_MESSAGE_TYPE_ENUM.each { |msg_type|  %>
                <option value="<%= msg_type %>@meant.it"><%= msg_type %></option>
                <% } %>
              </select>
              &nbsp;
              <span class="superlarge">@meant.it</span>
            </p>
            Try entering <i>:meant.it ;thanks for making life better;</i> (<%= link_to "Learn more", url_for("learn_send") %>)
          </fieldset>
        </form>
      </div>
      <div class='span-21'>
        &nbsp;
      </div>
      <div class='span-3 last large'>
        <%= link_to "Confusing!?!", url_for("/tutorial_1") %>
      </div>
    </div>

<%= yield %>

</body>
</html>
