<%= form_for(@pii) do |f| %>
  <% if @pii.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pii.errors.count, "error") %> prohibited this pii from being saved:</h2>

      <ul>
      <% @pii.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pii_type %><br />
    <%= f.text_field :pii_type %>
  </div>
  <div class="field">
    <%= f.label :pii_value %><br />
    <%= f.text_field :pii_value %>
  </div>
  <div class="field">
    <%= f.label :pii_desc %><br />
    <%= f.text_area :pii_desc %>
  </div>
<!---
  <div class="field">
    <%= f.label :endpoint_id %><br />
    <%= f.text_field :endpoint_id %>
  </div>
--->
  <div class="field">
    <%= f.label :pii_hide %><br />
    <%= f.text_field :pii_hide %>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
