<h1>Listing piis</h1>

<table>
  <tr>
    <th>Piitype</th>
    <th>Piivalue</th>
    <th>Piidesc</th>
    <th>Piihide</th>
<!---    <th>Endpoint</th> --->
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @piis.each do |pii| %>
  <tr>
    <td><%= pii.pii_type %></td>
    <td><%= pii.pii_value %></td>
    <td><%= pii.pii_desc %></td>
    <td><%= pii.pii_hide %></td>
<!---    <td><%= pii.endpoint_id %></td> --->
    <td><%= pii.status %></td>
    <td><%= link_to 'Show', pii %></td>
    <td><%= link_to 'Edit', edit_pii_path(pii) %></td>
    <td><%= link_to 'Destroy', pii, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pii', new_pii_path %>
