<p id="notice"><%= notice %></p>

<p>
  <b>Piitype:</b>
  <%= @pii.pii_type %>
</p>

<p>
  <b>Piivalue:</b>
  <%= @pii.pii_value %>
</p>

<p>
  <b>Piidesc:</b>
  <%= @pii.pii_desc %>
</p>

<p>
  <b>Piihide:</b>
  <%= @pii.pii_hide %>
</p>

<!---
<p>
  <b>Endpoint:</b>
  <%= @pii.endpoint_id %>
</p>
--->

<p>
  <b>Status:</b>
  <%= @pii.status %>
</p>


<%= link_to 'Edit', edit_pii_path(@pii) %> |
<%= link_to 'Back', piis_path %>
