<p id="notice"><%= notice %></p>

<p>
  <b>Meant it rel:</b>
  <%= @meant_it_mood_tag_rel.meant_it_rel_id %>
</p>

<p>
  <b>Tag:</b>
  <%= @meant_it_mood_tag_rel.tag_id %>
</p>

<p>
  <b>Reasoner:</b>
  <%= @meant_it_mood_tag_rel.reasoner %>
</p>


<%= link_to 'Edit', edit_meant_it_mood_tag_rel_path(@meant_it_mood_tag_rel) %> |
<%= link_to 'Back', meant_it_mood_tag_rels_path %>
